.chess-table-env {
    background: #050508;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.neon-board-container {
    width: 85vmin;
    /* keeps board within screen */
    max-width: 580px;
    border: 5px solid #00d2ff;
    box-shadow: 0 0 30px rgba(0, 210, 255, 0.4);
    padding: 10px;
    background: #000;
}

.timer {
    font-size: 2rem;
    color: #00d2ff;
    text-shadow: 0 0 10px #00d2ff;
    margin-bottom: 15px;
}