.chess-table-env {
    background: #050508;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #00d2ff;
}

.neon-board-container {
    width: 600px;
    /* Large professional size */
    height: 600px;
    border: 5px solid #00d2ff;
    box-shadow: 0 0 40px rgba(0, 210, 255, 0.5);
    background: #000;
}

.mode-btn {
    padding: 20px 40px;
    background: transparent;
    border: 2px solid #00d2ff;
    color: white;
    margin: 10px;
    cursor: pointer;
    border-radius: 12px;
    transition: 0.3s;
}

.mode-btn:hover {
    background: #00d2ff;
    color: black;
    box-shadow: 0 0 20px #00d2ff;
}

.game-status-bar {
    margin-bottom: 20px;
    font-family: 'Courier New', monospace;
    display: flex;
    gap: 40px;
}