.fullscreen-stage {
    position: fixed;
    inset: 0;
    background: #000;
    z-index: 99999;
    display: flex;
    flex-direction: column;
}

.booply-loader {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00f2ff;
    font-weight: 900;
    font-size: 2rem;
    text-shadow: 0 0 20px #00f2ff;
    animation: pulse-glow 1.5s infinite;
}

@keyframes pulse-glow {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }
}